@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-wabi-bg: #F5F3EC;
  --color-wabi-green: #2B4522;
  --color-wabi-gold: #B89742;
  --color-wabi-earth: #8C7B61;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-wabi-bg);
  color: #1A1A1A;
}
